{% extends "base.html" %} {% block main %}

<div style="margin-top: 3%; margin-bottom: 3%; overflow: auto;" class="container" id="edit-coaches">
    <div class="row">
        <div id="coach-choose" class="col-md-8">
            <button style="width: 100%; margin-bottom: 2%;" @click="someOperationBeforeAdd()" class="btn btn-primary"
                id="btn-add-a-coach">+</button>
            <div style="height: 70vh; overflow: auto;">
                <ul id="coach-list" class="list-group">
                    <li class="list-group-item list-group-item-action" v-for="c in coach_list"><span
                            v-text="c.coach_name"></span></li>
                </ul>
            </div>
        </div>

        <div id="coach-show" class="col-md-4">
            <form id="info-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="coach_name" :value="info.choosed_coach.coach_name" type="text" class="form-control"
                        id="name">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input name="country" :value="info.choosed_coach.country" type="text" class="form-control"
                        id="country">
                </div>
                <div class="form-group">
                    <label>Current Club</label>
                    <label v-text="coachNameMapClub(info.choosed_coach.coach_name)"></label>
                </div>
                <button type="submit" class="btn btn-primary" v-text="info.cur_state"></button>
                <button type="button" class="btn btn-primary" @click="deleteOperation">DELETE</button>
            </form>

        </div>
    </div>

</div>



<script>
    console.log('pos');
    var vm = new Vue({
        el: '#edit-coaches',
        data: {
            coach_list: [],
            coaches_and_club_name: [],
            info: {
                cur_state: 'add',
                choosed_coach: {
                    coach_name: '',
                    country: ''
                }
            }
        },
        methods: {
            clearCoachInfo: function () {
                Vue.set(vm.info, 'choosed_coach', {
                    coach_name: '',
                    country: ''
                })
            },
            someOperationBeforeAdd: function () {
                this.clearCoachInfo();
                Vue.set(vm.info, 'cur_state', 'add');
                $('.list-group-item').removeClass('active');
            },
            deleteOperation: function () {
                var target = this.info.choosed_coach;
                $.ajax({
                    url: '/modify/coach',
                    type: 'DELETE',
                    dataType: 'JSON',
                    data: {
                        coach_name: target.coach_name
                    },
                    success: function () {
                        var index = -1;
                        for (var i = 0; i < vm.coach_list.length; i++) {
                            if (vm.coach_list[i] == target) {
                                index = i;
                                break;
                            }
                        }
                        if (index != -1) {
                            vm.coach_list.splice(index, 1);
                        }
                        alert('Already delete coach: ' + target.coach_name);
                    },
                    error: function () {
                        alert('error');
                    }
                })
            },
            coachNameMapClub: function(coach_name) {
                console.log(coach_name);
                console.log(this.coaches_and_club_name);
                for(var i of this.coaches_and_club_name) {
                    if(i.coach_name == coach_name)  return i.club_name ? i.coach_name : 'Unemployment';
                }

                return 'error';
            }
        }
    });

    $(function () {

        $.get('/fetch/coach_list').done(data => {
            data.coaches.forEach(element => {
                vm.coach_list.push(element);
            })
        })

        $.get('/fetch/coaches_with_club').done(data => {
            for (var element of data.coaches_with_club) {
                if (element.club == null) {
                    element.club = {
                        club_name: ''
                    }
                }
                vm.coaches_and_club_name.push({
                    coach_name: element.coach_name,
                    club_name: element.club.club_name
                });
            }



            // Vue.set(vm.info, 'modal_choosed_coach', vm.coaches_with_club[0].coach_name);
            // console.log('first coach: ' + JSON.stringify(vm.info.modal_choosed_coach));
            console.log('fetch coaches with club done');

            console.log(vm.coaches_and_club_name);
        })

    });
    $(document).on('click', '.list-group-item', function () {
        Vue.set(vm.info, 'cur_state', 'edit');
        console.log('click');
        $('.list-group-item').removeClass('active');
        $(this).addClass('active');
        // 获取选中的教练名字
        var coach_name = $(this).children('span:first-child').text();
        console.log('pick name: ' + coach_name);
        //查找这个教练
        for (var coach of vm.coach_list) {
            if (coach.coach_name == coach_name) {
                console.log(coach);
                // Vue.set(vm.info, 'choosed_coach', coach);
                vm.info.choosed_coach = JSON.parse(JSON.stringify(coach));
                break;
            }
        }
    });

    $('#info-form').submit(function (e) {
        var cur_state = vm.info.cur_state;
        //what's this?
        e.preventDefault();
        var upload_data = {
            coach: {
                coach_name: $(this).find('input[name=coach_name]').val(),
                country: $(this).find('input[name=country]').val(),
            },
            state: cur_state
        }
        console.log(JSON.stringify(upload_data));

        var info = '';
        if (upload_data.coach.coach_name.length == 0) {
            info = info.concat('\ncoach_name');
        }
        if (upload_data.coach.country.length == 0) {
            info = info.concat('\ncountry');
        }

        if (info.length != 0) {
            alert(info.concat('\n为空，不合规定'));
            return false;
        }

        var league = $(this).find('select[name=league]').val();

        $.post('/modify/coach', upload_data).done(function (data) {

            // 根据返回的东西确定这是不是个已存在的
            //console.log(data.coach);
            var flag = 0;
            console.log('coach list length: ' + vm.coach_list.length);
            console.log(JSON.stringify(data));
            for (var i = 0; i < vm.coach_list.length; i++) {
                if (vm.coach_list[i].coach_name == data.coach.coach_name) {
                    vm.coach_list[i] = data.coach;
                    flag = 1;
                    break;
                }
            }

            // 不存在则添加
            if (!flag) {
                vm.coach_list.push(upload_data.coach);
            }
        }).fail(function (jqXHR, testStatus) {
            alert('error: ' + jqXHR.status);
        });
        return false;
    });



</script>

{% endblock %}