{% extends "base.html" %} {% block main %}
<div class="container" id="games-list">
    <div v-for="gt in games_with_turn" class="card">
        <div class="card-header">
            Turn <label v-text="gt.turn"></label>
        </div>
        <div class="list-group card-body" style="padding: 0;">
            <a :href="game.href" v-for="game in gt.games" class="list-group-item list-group-item-action" style="font-size: 14px; justify-items:center; display: grid; grid-template-columns: 20% 20% 25% 10% 25%;" >
                <span v-text="game.league"></span>
                <span v-text="game.matchday">09-14</span>
                <span v-text="game.home_team">Manchester United</span>
                <span v-text="getGameResultString(game.id)"></span>
                <span v-text="game.away_team">Leicester City</span>
            </a>
        </div>
    </div>

    <button type="button" id="refresh" style="position: fixed; bottom: 50px; right: 50px; z-index: 99;" class="btn btn-primary">Refresh</button>
    <!-- <div class="card">
        <div class="card-header">
            <label>0921</label>
        </div>
        <div class="list-group card-body" style="padding: 0;">
        <a class="list-group-item" style="font-size: 14px; justify-items:center; display: grid; grid-template-columns: repeat(3, 33.33%);" href="/edit-game/1-Manchester_United-Leicester_City">
            <span>Manchester United</span>
            <span></span>
            <span>Leicester City</span>
        </a>
        <a class="list-group-item" style="font-size: 14px; justify-items:center; display: grid; grid-template-columns: repeat(3, 33.33%);" href="/edit-game/1-Manchester_United-Leicester_City">
            <span>Manchester United</span>
            <span></span>
            <span>Leicester City</span>
        </a>
        <a class="list-group-item" style="font-size: 14px; justify-items:center; display: grid; grid-template-columns: repeat(3, 33.33%);" href="/edit-game/1-Manchester_United-Leicester_City">
            <span>Manchester United</span>
            <span></span>
            <span>Leicester City</span>
        </a>
        </div>
    </div> -->

        <!-- <table class="table table-hover">
            <tbody>
                <tr>
                    <th width="5%" scope="row">1</th>
                    <td class="game-id">1</td>
                    <td name="home-team" width="32.5%" class="home-team">Manchester United</td>
                    <td width="25%" class="match-time">9:00</td>
                    <td name="away-team" width="37.5%">Barcelona</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td class="game-id">2</td>
                    <td name="home-team" class="home-team">Jacob</td>
                    <td class="match-time">9:00</td>
                    <td name="away-team">@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td class="game-id">3</td>
                    <td name="home-team" class="home-team">Larry</td>
                    <td class="match-time">9:00</td>
                    <td name="away-team">@twitter</td>
                </tr>
            </tbody>
        </table> -->
</div>


<script>
// 由于要加 turn 作为区分
// 所以现在要换个做法
// 也就是 
var vm = new Vue({
    el: '#games-list',
    data: {
        games_with_turn: []
        /*
            { 1, [Game{}, Game{}, Game{}] } 
            { 2, [Game{}, Game{}, Game{}] } 
            { 3, [Game{}, Game{}, Game{}] } 
            { 4, [Game{}, Game{}, Game{}] } 
        */,
        games: []
    },
    methods: {
        getGameResultString: function (id) {
            var output_string = '';
            for(var game of this.games) {
                if(game.id == id && game.home_team_goal != null) {
                    output_string = output_string.concat(game.home_team_goal).concat(' - ').concat(game.away_team_goal);
                    break;
                }
            }
            if(output_string.length != 0) {
                return output_string;
            } else {
                return '-';
            }
        }
    }
})
$(function() {
    $('tr').click(function() {
        console.log('click-a-tr');
        var name = $(this).find('td[class=game-id]').text() + '-' + $(this).find('td[name=home-team]').text() + '-vs-' +
            $(this).find('td[name=away-team]').text();
        name = name.replace(' ', '_');
        
        $.get('/edit-game/' + name);
    });


    $('.game-id').hide();

    $.get('/fetch/games').done(function (data) {
        console.log(data.turns);
        var games = data.games;
        vm.games = data.games;
        games.forEach(function(game, index, this_arr) {
            var href = "/edit-game/" 
                        +
                        game.id + '-' 
                        +
                        game.home_team.replace(' ', '_') + '-'
                        +
                        game.away_team.replace(' ', '_');
            this_arr[index]['href'] = href;
        })
        for(var i = 1; i <= parseInt(data.turns); i++) {
            vm.games_with_turn.push({
                'turn': i,
                'games': games.filter(function(game) {
                    return game.turn == i;
                })
            });
            // games.filter(function(game) {
            //     return game.turn == i;
            // }).forEach(function(per_game) {
            //     vm.games_with_turn_index[i-1].push(per_game);
            // });
        }
        console.log(vm.games_with_turn);
        // 每次进来就更新下结果( 可以加一个fresh 按钮)

        
        $('#refresh').click(function() {
            $.get('/update/games').done(data => {
                location.reload();
            })
        })
    })
    
});
</script>
{% endblock %}