{% extends "base.html" %} {% block main %}
<!-- 应该开始使用vue了，再继续往下做的话，就是一开始就显示球员名单，然后每次点击返回球员信息
    需要先把vue的框架搭建好
    todo:
    0920: 搭建好需要的vue框架
    0920: 使用vue ，左边点击右边出信息 -->

<div style="margin-top: 3%; margin-bottom: 3%;" class="container" id="edit-players">
    <div class="row">
        <div id="player-choose" class="col-md-8">
            
            <form style="margin-bottom: 3%;" id='form-filter'>
                <div class="row">
                    <div class="col">
                        <input type="text" name="club" class="form-control" placeholder="Club">
                    </div>
                    <div class="col">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="col">
                        <select name="preferred_foot" class="form-control form-control" id="filer-prefered_foot">
                            <option value=''>all</option>
                            <option>right</option>
                            <option>left</option>
                            <option>both</option>
                        </select>
                    </div>
                    <div class="col" style="text-align: right;">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>

            <div>
                <button style="width: 100%; margin-bottom: 2%;" @click="someOperationBeforeAdd()" class="btn btn-primary" id="btn-add-a-player">+</button>
            </div>

            <ul id="player-list" class="list-group">
                <li class="list-group-item list-group-item-action" v-for="p in player_list"><span v-text="p.player_name"></span></li>
            </ul>
        </div>

        <div id="player-show" class="col-md-4">
            <form id="info-form">
                <!-- <div class="form-group">
                    <label name="id" v-text="cur_state"></label>
                </div> -->
                <div class="form-group">
                    ID: <label name="id" v-text="choosed_player.id"></label>
                    <button type="button" style="float:right; padding: 1px;" @click="deleteOperation()" class="btn btn-primary" id="btn-delete-player" >Delete</button>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="player_name" :value="choosed_player.player_name" type="text" class="form-control" id="name" >
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input name="age" :value="choosed_player.age" type="Number" class="form-control" id="age">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input name="country" :value="choosed_player.country" type="text" class="form-control" id="country">
                </div>


                <div class="form-group">
                    <label for="club">Club</label>
                    <div class="form-group">

                         <!-- 搞个假级联吧，还是有级联的，就是保持@change，然后在点击的时候更改choosed_league的值 -->
                         <!-- 再然后，写好@change方法，使之具备级联的功能 -->
                         <!-- 下午来做这些事情 -->
                        <select name="league"  @change="changeClubs()" class="form-control" id="league">
                            <option v-for="lg in leagues" v-text="lg"></option>
                        </select>
                    </div>
                    <!-- <input name="club" :value="choosed_player.club" type="text" class="form-control" id="club"> -->
                    <div class="form-group">
                        <select name="club"  class="form-control" id="club">
                            <!-- 用js来改这个league_to_clubs -->
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <label for="number">Shirt number</label>
                    <input name="shirt_number" :value="choosed_player.shirt_number" type="Number" class="form-control" id="number">
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <select name="position" :value="choosed_player.position" class="form-control" id="position">
                        <option>Attacker</option>
                        <option>Midfielder</option>
                        <option>Defender</option>
                        <option>Goalkeeper</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="prefered_foot">Preferred Foot</label>
                    <select name="preferred_foot" :value="choosed_player.preferred_foot" class="form-control" id="preferred_foot">
                        <option value="right">right</option>
                        <option value="left">left</option>
                        <option value="both">both</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" v-text="cur_state"></button>
            </form>

        </div>
    </div>

</div>



<script>
/*
    现在的目标是实现级联的更新操作，那么根据我的设想应该可以使用 JavaScript + Vue 的联动
    把全部俱乐部存在vm里面
    [
        {
            club_name: ,
            league: ,
        },
        {
            club_name: ,
            league: ,
        }
        .
        .
        .
    ]
    next:
    当更改第一个选择框的时候(也就是联赛，同步更改第二个框框的内容)
    成功了，只不过不是弹出框，哈哈哈
    
*/


var vm = new Vue({
    el: '#edit-players',
    // 如何只载入不修改呢
    data: {
        player_list: [],
        choosed_player: {
            id: null,
            player_name: null,
            shirt_number: null,
            age: null,
            preferred_foot: null,
            position: null,
            league: 'please choose a league',
            club: null,
            country: null
        },
        clubs: [
        ],
        leagues: [
            'please choose a league'
        ],
        choosed_league: 'please choose a league',
        league_to_clubs: [],
        choosed_club: '',
        cur_state: 'add' // edit or add
    },
    computed: {
    },
    methods: {
        changeClubs : function() {
            // 不再需要choosed_league
            var choosed_league = $('#league').val();
            $('#club').empty();
            if(choosed_league != "please choose a league") {
                for(var club of vm.clubs) {
                    if(club.league == choosed_league) {
                        var option = $("<option>").val(club.club_name).text(club.club_name);
                        $('#club').append(option);
                    }
                }
                console.log(vm.choosed_player.club);
            }
        },
        clearPlayerInfo: function() {
            vm.choosed_player = {
                id: null,
                player_name: null,
                shirt_number: null,
                age: null,
                preferred_foot: null,
                position: null,
                league: 'please choose a league',
                club: null,
                country: null
            }
            $('#league').val('please choose a league');
            $('#club').empty();
        },
        someOperationBeforeAdd: function() {
            this.clearPlayerInfo();
            vm.cur_state = 'add';
            $('.list-group-item').removeClass('active');
        },
        deleteOperation: function() {
            console.log('click');
            console.log('ajax DELETE');
            var target = vm.choosed_player;
            $.ajax({
                url: '/modify/player',
                type: 'DELETE',
                dataType: 'json',
                data: {
                    id: target.id
                },
                success: function() {
                    var index = -1;
                    for(var i = 0; i < vm.player_list.length; i++) {
                        if(vm.player_list[i] == target) {
                            index = i;
                            break;
                        }
                    }
                    if(index != -1) {
                        vm.player_list.splice(index, 1);
                    }
                    alert('Already delete player: ' + target.player_name);
                },
                error: function() {
                    console.log('err');
                },
                complete: function() {
                    console.log('complete');
                }
            }); //end ajax
            // console.log('delete done');
            // $.ajax({
            //     type: 'DELETE',
            //     url: '/modify/player',
            //     data: {
            //         id: vm.choosed_player.id
            //     }
            // })
            this.clearPlayerInfo();
        }
    }
});

$(function() {
    // 需要一个数据结构来保存
    // {
    //     'Premier League': [],
    //     'EFL Championship': []
    // }
    var league_map_clubs = {};




    // 先获取到clubs，然后在球员中插入这个clubs
    $.get('/fetch/clubs').done(function(data) {
        vm.clubs = data.clubs;
        for(var i of vm.clubs) {
            console.log(i.club_name);
        }
    });

    $.get('/fetch/leagues').done(function(data) {
        console.log(data.leagues);
        for(var league of data.leagues) {
            vm.leagues.push(league.league_name);
        }
    })

    $.get('/fetch/player_list').done(function(data) {
        vm.player_list = data.player_list;
        for(var i = 0; i < vm.player_list.length; i++) {
            var club_name = vm.player_list[i]['club'];
            for(var c of vm.clubs) {
                if(c.club_name == club_name) {
                    vm.player_list[i]['league'] = c.league;
                    break;
                }
            }
        }
    }).fail(function(jqXHR, testStatus) {
        alert('Error: ' + jqXHR.status);
    });


    $(document).on('click', '.list-group-item', function() {
        vm.cur_state = 'edit';
        console.log('click');
        $('.list-group-item').removeClass('active');
        $(this).addClass('active');
        // 获取选中的球员名字
        var player_name = $(this).children('span:first-child').text();
        console.log('pick ' + player_name);
        //查找这个球员
        for(var player of vm.player_list) {
            if(player.player_name == player_name) {
                console.log(player);
                vm.choosed_player = player;
                break;
            }
        }
        $('#league').val(vm.choosed_player.league);
        $('#club').empty();
        for(var club of vm.clubs) {
            if(club.league == vm.choosed_player.league) {
                var option = $("<option>").val(club.club_name).text(club.club_name);
                $('#club').append(option);
            }
        }
        $('#club').val(vm.choosed_player.club);
        console.log(vm.choosed_player.club);
    });



    $('#info-form').submit(function(e) {
        var cur_state = vm.cur_state;
        //what's this?
        e.preventDefault();
        var upload_data = {
            player : {
                player_name: $(this).find('input[name=player_name]').val(),
                shirt_number: $(this).find('input[name=shirt_number]').val(),
                age: $(this).find('input[name=age]').val(),
                preferred_foot: $(this).find('select[name=preferred_foot]').val(),
                position: $(this).find('select[name=position]').val(),
                club: $(this).find('select[name=club]').val(),
                country: $(this).find('input[name=country]').val(),
            }, 
            state : cur_state
        }
        console.log(JSON.stringify(upload_data.player));

        if(cur_state == 'edit') {
            upload_data.player['id'] = $('#info-form').find('label[name=id]').text();
        }

        var info = '';
        if(upload_data.player.player_name.length == 0) {
            info = info.concat('\nplayer_name');
        } 
        if(upload_data.player.preferred_foot == null) {
            info = info.concat('\npreferred_foot');
        }
        if(upload_data.player.position == null) {
            info = info.concat('\nposition');
        } 
        if(upload_data.player.country.length == 0) {
            info = info.concat('\ncountry');
        }
        if(upload_data.player.age.length == 0) {
            info = info.concat('\nage');
        }

        if(info.length != 0) {
            alert(info.concat('\n为空，不合规定'));
            return false;
        }


        // if(upload_data.player.shirt_number == "") {
        //     upload_data.player.shirt_number = null;
        // }
        // if(upload_data.player.country == null) {
        //     upload_data.player.country = "";
        // }

        var league = $(this).find('select[name=league]').val();

        $.post('/modify/player', upload_data).done(function(data) {

            // 根据返回的东西确定这是不是个已存在的
            //console.log(data.player);
            var flag = 0;
            upload_data.player['league'] = league;
            for(var i = 0; i < vm.player_list.length; i++) {
                if(vm.player_list[i].id == upload_data.player.id) {
                    vm.player_list[i] = upload_data.player;
                    flag = 1;
                    break;
                }
            }
            if(!flag) {
                vm.player_list.push(upload_data.player);
            }
        }).fail(function(jqXHR, testStatus) {
            alert('error: '+ jqXHR.status);
        });
        return false;
    });

    $('#form-filter').submit(function() {
        var club = $(this).find('input[name=club]').val();
        var name = $(this).find('input[name=name]').val();
        var preferred_foot = $(this).find('select[name=preferred_foot]').val();

        var where_clause = {};

        where_clause['club'] = club;
        where_clause['player_name'] = name;
        where_clause['preferred_foot'] = preferred_foot;

        $.post('/fetch/player_list', where_clause).done(function(data) {
            vm.player_list = data.player_list;
            for(var i = 0; i < vm.player_list.length; i++) {
                var club_name = vm.player_list[i]['club'];
                for(var c of vm.clubs) {
                    if(c.club_name == club_name) {
                        vm.player_list[i]['league'] = c.league;
                        break;
                    }
                }
            }
        }).fail(function(jqXHR, testStatus) {
            alert('Error: ' + jqXHR.status);
        });

        return false;
    });

    

});

// $(document).on('click', '#delete', function() {
//     console.log('click');
//     console.log('ajax DELETE');
//     var target = vm.choosed_player;
//     $.ajax({
//         url: '/modify/player',
//         type: 'DELETE',
//         dataType: 'json',
//         data: {
//             id: target.id
//         },
//         success: function() {
//             var index = -1;
//             for(var i = 0; i < vm.player_list.length; i++) {
//                 if(vm.player_list[i] == target) {
//                     index = i;
//                     break;
//                 }
//             }
//             if(index != -1) {
//                 vm.player_list.splice(index, 1);
//             }

//         },
//         error: function() {
//             console.log('err');
//             var index = -1;
//             for(var i = 0; i < vm.player_list.length; i++) {
//                 if(vm.player_list[i] == target) {
//                     index = i;
//                     break;
//                 }
//             }
//             if(index != -1) {
//                 vm.player_list.splice(index, 1);
//             }
//         },
//         complete: function() {
//             console.log('complete');
//         }
//     }); //end ajax
//     console.log('delete done');
// });

</script>
<script>
    /*
    var list_group_items = document.getElementsByClassName('list-group-item');
    var player_show = document.getElementById('player-show');

    if (!list_group_items) {
        console.log('can not get list-group-item');
    }
    if (!player_show) {
        console.log('can not get player-show');
    }

    for (var i = 0; i < list_group_items.length; i++) {
        var cur_item = list_group_items[i];
        cur_item.onclick = function () {
            player_show.lastChild.nodeValue = this.lastChild.nodeValue;
            for (var j = 0; j < list_group_items.length; j++) {
                list_group_items[j].setAttribute('class', 'list-group-item list-group-item-action');
            }
            this.setAttribute('class', 'list-group-item list-group-item-action active');
        }
    }

    var info_form = document.getElementById('info-form');
    info_form.onsubmit = function () {
        var div = document.createElement('div');
        div.setAttribute('class', 'alert alert-success');
        div.innerHTML = '<strong>成功!</strong> 指定操作成功提示信息。';
        player_show.appendChild(div);

        // 要向服务器发送一条更改信息的通知，然后过1秒的时间之后再发送一条消息过去检查是否完成
        // 这个通信要怎么完成
        setTimeout(function () {
            $('.alert').alert('close');
        }, 2000);
        return false;
    }
    */
</script>
{% endblock %}